{% extends "base.html" %}


{% block js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock js %}

{% block css %}

    <style>
        video {
            width: 500px;
            height: 400px;
            object-fit: cover;
        }

    </style>
{% endblock css %}

{% block content %}
    <section>
        <div id="liveView" class="videoView">
            <button id="webcamButton" class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">ENABLE WEBCAM</span>
            </button>
            <div style="position: relative;">
                <video id="webcam" autoplay playsinline></video>
                <canvas class="output_canvas" id="output_canvas" width="1280" height="720"
                        style="position: absolute; left: 0px; top: 0px;"></canvas>
                <p id='gesture_output' class="output">
            </div>
        </div>
    </section>

    <div style="display: flex; height: 100%; flex-direction: column">
        <ul id="messages" style="flex-grow: 1; list-style-type: none"></ul>
    </div>
{% endblock %}